┌─────────────────────────────┐
#       User Details          #
└─────────────────────────────┘
USER_NAME="Joe"
ACTIVATION_WORD="Steve"
LISTENING_TIME=5
LOCATION="New York"

┌─────────────────────────────┐
#    Audio Configuration      #
└─────────────────────────────┘
#Microphone
THRESHOLD=3000
SILENCE_LIMIT=2
PRE_RECORD_SECONDS=0.5
LISTENING_TIME=5

#Speaker
VOLUME=10
VOICE=fable
DEVICE=3
VOICE_MODEL=tts-1

┌─────────────────────────────┐
#    LLM Provider Details     #
└─────────────────────────────┘
DEFAULT_PROVIDER=openai

┌─────────────────────────────┐
#   OpenAI Configuration      #
└─────────────────────────────┘
OPENAI_API_KEY=sk-projasdasd

OPENAI_MODEL_NAME=gpt-4o-mini

┌─────────────────────────────┐
#  Anthropic Configuration    #
└─────────────────────────────┘
ANTHROPIC_API_KEY=skadsda
ANTHROPIC_MODEL_NAME=claude-3-5-sonnet-20240620

┌─────────────────────────────┐
#    Google Configuration      #
└─────────────────────────────┘
GOOGLE_API_KEY=xxxx
GOOGLE_MODEL_NAME=gemini-1.5-pro-001

┌─────────────────────────────┐
#  Azure OpenAI Configuration  #
└─────────────────────────────┘
AZURE_OPENAI_API_KEY=xxxx
AZURE_OPENAI_ENDPOINT=https://xxxx.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-06-01
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4o

AZURE_MAPS_KEY=asdasd


